ion-card {
  cursor: pointer;
  border: 3px solid;
}

ion-card-header ion-img {
height: 15em;
}

ion-card-title {
  width: 30%;
  margin: auto;
  font-size: 1em;
}

.icon {
  margin: 0;
}

.legendary-button {
  --background: #FFD700;
  box-shadow: 0 0 10px gold
}
