ion-card-content {
  color: #0d0d0d;
}

.pokemon-image {
  height: 60px;
}

.input {
  border: solid 1px #9e9e9ea6;
  border-radius: 50px;
}

ion-button, ion-text {
  font-family: 'Press Start 2P', cursive;
}
