<ion-content>
  <ion-grid *ngIf="allPokemon.getAllPokemons() | async">
    <ion-row>
      <ion-col *ngFor="let pokemon of pokemonArrayByPages" sizeLg="2" sizeXs="11">
        <ion-card (click)="goToDetails(pokemon.id)"
                  [ngStyle]="{'cursor': 'pointer',
                  'background': pokemon.types.length == 1 ?
                  pokemon.color[0] : 'linear-gradient(to right,'+ pokemon.color[0] + ',' + pokemon.color[1]+ ')'
                  }"
        >
          <ion-card-header>
            <ion-card-title>#{{pokemon.id}} {{'NAMES.' + pokemon.name | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="pokemon.types.length == 1">
            {{'NAMES.' + pokemon.name | translate}} {{'CARD_SUBJECT_ONE' | translate}}
            {{'TYPES.' + pokemon.types[0] | translate}} {{'POKEMON' | translate}}
          </ion-card-content>
          <ion-card-content *ngIf="pokemon.types.length > 1">
            {{'NAMES.' + pokemon.name | translate}} {{'CARD_SUBJECT_TWO' | translate}} {{'TYPES.' + pokemon.types[0] | translate}}
            /{{'TYPES.' + pokemon.types[1] | translate}} {{'POKEMON' | translate}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
