<ion-content>
  <ion-grid>
    <ion-button (click)="launchEncounter()" class="ion-hide-sm-down" color="light">{{'ENCOUNTER' | translate}}!
    </ion-button>
    <ng-container *ngIf="randomPokemon">
      <ion-row class="ion-justify-content-center">
        <ion-title class="ion-text-center">
          #{{randomPokemon.id}} {{'NAMES.' + randomPokemon.name | translate}}
        </ion-title>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="8" sizeLg="3">
          <ion-img [alt]="randomPokemon.name" [src]="randomPokemon.img" id="img"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-text *ngIf="randomPokemon.types.length == 1">
          {{'NAMES.' + randomPokemon.name | translate}} {{'CARD_SUBJECT_ONE' | translate}}
          {{'TYPES.' + randomPokemon.types[0] | translate}}.
        </ion-text>
        <ion-text *ngIf="randomPokemon.types.length > 1">
          {{'NAMES.' + randomPokemon.name | translate}} {{'CARD_SUBJECT_TWO' | translate}} {{'TYPES.' + randomPokemon.types[0] | translate}}
          /{{'TYPES.' + randomPokemon.types[1] | translate}}.
        </ion-text>
      </ion-row>
      <ion-row *ngIf="(userObservable$ | async).userName; else elseBlock" class="ion-justify-content-center" class="ion-justify-content-center">
        <ion-button (click)="addPokemon(randomPokemon)"
                    [disabled]="alreadyCatch" color="success"> {{'CATCH' | translate}}
        </ion-button>
      </ion-row>
      <ng-template #elseBlock>
        <ion-row class="ion-justify-content-center">
          <ion-text color="success">Log in to catch Pokémon !</ion-text>
        </ion-row>
      </ng-template>
    </ng-container>
  </ion-grid>
  <ion-button (click)="launchEncounter()" color="light" slot="fixed">{{'ENCOUNTER' | translate}} !</ion-button>
</ion-content>
