@media (max-width: 728px) {
  ion-card {
    width: 90%;
    height: 100%;
    margin: auto;

    & ion-icon {
      padding: 15%
    }

    & ion-img {
      height: 60%;
    }

  }
}

@media (min-width: 768px) {
  ion-card {
    width: 75%;
    height: 90%;
    margin: auto;

    & ion-img {
      height: 60%;
    }

    & ion-icon {
      padding-top: 10%;
      padding-left: 30%;
    }
  }
}
