<div *ngIf="trainerService.user | async as user">
  <ion-row *ngIf="user.login" class="team">
    <ion-col class="pokemon"
             (mouseenter)="mouseEnter()" *ngFor="let pokemon of user.pokemonTeam; let i = index">
      <img *ngIf="pokemon" class="pokemon-image" [src]="pokemon.img"
           alt="{{pokemon.name}}"/>
    </ion-col>
  </ion-row>
  <ion-button *ngIf="displayCancelButton" class="delete-pokemon-from-team">
    <ion-icon name="close" (click)="deletePokemon()"></ion-icon>
  </ion-button>
</div>
