<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let pokemon of myTeam" sizeXs="12" sizeMd="2">
        <ion-card [ngStyle]="{'background': pokemon.types.length == 1 ?
                  pokemon.color[0] : 'linear-gradient(to right,'+ pokemon.color[0] + ',' + pokemon.color[1]+ ')'
                  }"
        >
          <ion-card-header>
            <ion-card-title>#{{pokemon.id}} {{'NAMES.' + pokemon.name | translate}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img id="img" [alt]="pokemon.name" [src]="pokemon.img"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
