<ion-footer class="ion-hide-sm-up">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col class="ion-align-self-center" size="2">
          <ion-icon (click)="utilsService.goBackToPokedex()" name="home-outline"></ion-icon>
        </ion-col>
        <ion-col class="ion-align-self-center" size="2">
          <ion-icon (click)="presentPopover($event)" name="person-circle-outline">
          </ion-icon>
        </ion-col>
      </ion-row>
        <ion-content>
          <ion-popover #popover (didDismiss)="isOpen = false" [isOpen]="isOpen">
            <ng-template>
              <app-user-popover (open)="dismiss($event)"></app-user-popover>
            </ng-template>
          </ion-popover>
        </ion-content>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
