<ion-header>
  <ion-row>
    <ion-col size="4">
    <ion-title class="main-title" (click)="goBackToPokedex()">Pokedex</ion-title>
    </ion-col>
    <ion-col offset-sm="4" size="auto">
      <ion-item>
        <ion-icon name="language-outline"></ion-icon>
        <ion-select (ionChange)="selectedLang($event)" interface="popover">
          <ion-select-option *ngFor="let lang of langSelect"
                             [value]="lang"> {{ lang | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="auto">
      <ion-button (click)="switchTheme()" class="theme-button" fill="clear">
        <ion-icon [name]="isChecked ? 'sunny-outline' : 'moon'"
                  [ngStyle]="{'color': isChecked ?
                  'yellow' : 'white'
                  }"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button (click)="presentPopover($event)" color="light"
                  shape="round" size="small">
        <ion-icon name="person-circle-outline">
        </ion-icon>
      </ion-button>
    </ion-col>
    <ion-content>
      <ion-popover #popover (didDismiss)="isOpen = false" [isOpen]="isOpen">
        <ng-template>
          <ion-item>
            <ion-row>
              <ion-col *ngIf="!currentUser">
                <ion-button (click)="handleNavigation('signin')" *ngIf="currentUrl !== '/signin'"
                            color="light">{{'SIGNIN' | translate}}
                </ion-button>
                <ion-button (click)="handleNavigation('login')" *ngIf="currentUrl !== '/login'"
                            color="light">{{'LOGIN' | translate}}
                </ion-button>
              </ion-col>
              <ion-col *ngIf="currentUser">
                <ion-button (click)="handleNavigation('account')" class="button"
                            color="light">{{'ACCOUNT' | translate}}</ion-button>
                <ion-button (click)="logOut()" class="button" color="light">{{'LOGOUT' | translate}}</ion-button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ng-template>
      </ion-popover>
    </ion-content>
    <ion-col *ngIf="currentUser" offsetLg="5">
      <ion-label>{{'USER POKEDEX' | translate : {user: currentUser.userName} }} </ion-label>
      <ion-button (click)="handleNavigation('team')" [disabled]="!currentUser.login" color="light">
        <img alt="pokeball" src="../../../assets/icons/pokeball.png" style="width: 30px">
        <ion-badge color="danger">{{userService.getPokemonTeam().length}}</ion-badge>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header>
