@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import '../../../theme/variables';

ion-title {
  cursor: pointer;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
}
