@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import '../../../theme/variables';

.main-title {
  cursor: pointer;
  font-size: 24px;
  font-family: 'Press Start 2P', cursive;
  padding: 0;
}

ion-popover {
  --width: 12%;
}

.nav-link {
  padding: 10px;
  margin: 2px 0;
  &:hover {
    cursor: pointer;
    background-color: $hover-link;
  }
}

ion-icon {
  width: 24px;
  height: 24px;
}

a {
  text-decoration: none;
  color: $black;
}
