<ion-header class="ion-hide-sm-down">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col class="ion-hide-sm-down" size="6">
          <ion-title (click)="utilsService.goBackToPokedex()" class="main-title">Pokédex</ion-title>
        </ion-col>
        <ion-col sizeLg="2">
          <ion-button (click)="goToCaptureMode()" color="light">{{'CATCH' | translate}} Mode</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-row class="ion-align-items-center">
            <ion-col size="auto">
              <ion-item class="lang-selector">
                <ion-icon name="language-outline"></ion-icon>
                <ion-select (ionChange)="selectedLang($event)" interface="popover">
                  <ion-select-option *ngFor="let lang of langSelect"
                                     [value]="lang"> {{ lang | translate }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="auto">
              <ion-button (click)="switchTheme()" class="theme-button" color="light" fill="outline">
                <ion-icon [name]="isChecked ? 'sunny-outline' : 'moon-outline'"
                          [ngStyle]="{'color': isChecked ?
                  'yellow' : 'black'
                  }"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col class="ion-hide-sm-down" size="auto">
              <ion-icon class="user-icon" (click)="presentPopover($event)" name="person-circle-outline">
              </ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-popover #popover (didDismiss)="isOpen = false" [isOpen]="isOpen">
          <ng-template>
            <app-user-popover (open)="dismiss($event)"></app-user-popover>
          </ng-template>
        </ion-popover>
        <ion-col *ngIf="currentUser.userName" sizeLg="2">
          <ion-label>{{'USER POKEDEX' | translate : {user: currentUser.userName} }} </ion-label>
          <ion-button (click)="handleNavigation('team')" [disabled]="!currentUser.login" color="light">
            <img alt="pokeball" src="../../../assets/icons/pokeball.png" style="width: 30px">
            <ion-badge color="danger">{{userService.getPokemonTeam().length}}</ion-badge>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
