<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-title class="ion-text-center">
        #{{pokemon.id}} {{'NAMES.' + pokemon.name | translate}}
      </ion-title>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="10" pushLg="4">
          <ion-img id="img" (click)="playAudio()" [alt]="pokemon.name" [src]="pokemon.img"></ion-img>
        <ion-row>
          <ion-text *ngIf="pokemon.types.length == 1">
            {{'NAMES.' + pokemon.name | translate}} {{'CARD_SUBJECT_ONE' | translate}}
            {{'TYPES.' + pokemon.types[0] | translate}} {{'POKEMON' | translate}}.
          </ion-text>
          <ion-text *ngIf="pokemon.types.length > 1">
            {{'NAMES.' + pokemon.name | translate}} {{'CARD_SUBJECT_TWO' | translate}} {{'TYPES.' + pokemon.types[0] | translate}}
            /{{'TYPES.' + pokemon.types[1] | translate}} {{'POKEMON' | translate}}.
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text [innerHTML]="'DESC.' + pokemon.name | translate"></ion-text>
        </ion-row>
        <ion-row>
          <ion-button color="light"
                      (click)="trainerService.user.value.login ? addPokemonToTeam(pokemon) : redirectToSignin()"> {{'ADD' | translate}}
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-col sizeLg="2">
            <ion-text>{{'WEIGHT' | translate}}: {{pokemon.weight}}</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{'HEIGHT' | translate}}: {{pokemon.height}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeLg="2">
            <ion-item>
              <ion-label>{{'LEVEL' | translate}} :</ion-label>
              <ion-input (ionChange)="manageLevel($event)" max="100" min="1" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-button (click)="nextPokemon()" color="success"
                      *ngIf="pokemon.evolutionLevel && level >= pokemon.evolutionLevel">{{'EVOLVE' | translate}}
          </ion-button>
          <ion-button color="light" (click)="nextPokemon()"
                      *ngIf="pokemon.exchange">{{'EXCHANGE' | translate}}</ion-button>
          <div *ngFor="let stone of pokemon.stone">
            <ion-img (click)="useStone(stone)" id="stone" [src]='stone'></ion-img>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
