<ion-grid>
  <form (ngSubmit)="validate()" [formGroup]="userForm">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeLg="3">
        <ion-item>
          <ion-input [formControl]="loginCtrl" label="{{'USERNAME' | translate}}" labelPlacement="floating"
                     type="text"></ion-input>
          <ion-label *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')">
            * {{'USERNAME' | translate}} {{'IS_REQUIRED' | translate}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeLg="3">
        <ion-item>
          <ion-input [formControl]="passwordCtrl" label="{{'PASSWORD' | translate}}" labelPlacement="floating"
                     type="password"></ion-input>
          <ion-label
            *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">{{'PASSWORD' | translate}} {{'IS_REQUIRED' | translate}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-padding-top" size="12" sizeLg="3">
        <ion-button [disabled]="userForm.invalid" color="light" type="submit" class="login-button">{{'LOGIN' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>

