@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import '../theme/variables.scss';

ion-title {
  cursor: pointer;
  color: rgba(33,159,194,255);
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
}

ion-header {
  background-color: rgba(72, 211, 234, 255);
  border-color: rgba(124,208,224,255);
}

.button {
  font-family: 'Press Start 2P', cursive;
}

