<ion-content>
  <ion-title>{{'LOGIN' | translate}}</ion-title>
  <form (ngSubmit)="validate()" [formGroup]="userForm">
    <ion-col>
      <ion-label>{{'USERNAME' | translate}}:</ion-label>
      <input formControlName="name" type="text">
      <ion-label *ngIf="usernameCtrl.dirty && usernameCtrl.hasError('required')">
        * {{'USERNAME' | translate}} {{'IS_REQUIRED' | translate}}</ion-label>
    </ion-col>
    <div formGroupName="passwordForm">
      <ion-col>
        <ion-label>{{'PASSWORD' | translate}}:</ion-label>
        <input formControlName="password" type="password">
        <ion-label
          *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">{{'PASSWORD' | translate}} {{'IS_REQUIRED' | translate}}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{'PASSWORD_CONFIRM' | translate}}:</ion-label>
        <input formControlName="passwordConfirm" type="password">
        <ion-label
          *ngIf="passwordConfirmCtrl.dirty && passwordConfirmCtrl.hasError('required')">{{'PASSWORD_CONFIRM_REQUIRED' | translate}}
        </ion-label>
      </ion-col>
      <ion-label *ngIf="passwordForm.dirty && passwordForm.hasError('matchingError')">
        {{'PASSWORD_NOT_MATCHING' | translate}}
      </ion-label>
    </div>
    <ion-button [disabled]="userForm.invalid" type="submit">{{'VALIDATE' | translate}}</ion-button>
  </form>
</ion-content>
