@import '../../../theme/variables';


@media (max-width: 728px) {
  .card-grid {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .card-grid {
    width: 75%;
  }
}

ion-card {
  cursor: pointer;
  border: 3px solid;
}

ion-card-header ion-img {
  height: 10em;
}

ion-card-title {
  width: 6em;
  margin: auto;
  display: flex;
  justify-content: center;
}

.legendary-button {
  --background: $gold;
  box-shadow: 0 0 10px $gold;
}
