<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeLg="3" sizeXs="12">
        <ion-searchbar (keyup.enter)="filterByName()" [formControl]="pokemon"
                       placeholder="{{'SEARCH POKEMON'| translate}}"></ion-searchbar>
      </ion-col>
      <ion-col size="6" sizeLg="2">
        <ion-list>
          <ion-item>
            <ion-select (ionChange)="filterByType($event)" [multiple]="true"
                        aria-label="Pokémon type"
                        placeholder="{{'SELECT TYPE'| translate}}"
            >
              <ion-select-option *ngFor="let type of allTypes"
                                 value="{{type}}">{{'TYPES.' + type | translate | typeName }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6" sizeLg="2" class="ion-align-self-center">
        <ion-toggle (ionChange)="filterLegendary($event)" [checked]="isChecked" aria-label="Legendary filter"
                    color="warning">{{'LEGENDARY'| translate }}
        </ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-text
        *ngIf="typeSelectedArray.length || isFilteredByName || isFilteredByLegendary">{{'FILTER ON' | translate}}</ion-text>
      <ion-col>
        <ion-chip *ngIf="isFilteredByName">{{'NAME' | translate}} : {{pokemon.value | titlecase}}
          <ion-icon (click)="clearFilter('isFilteredByName')" name="close"></ion-icon>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip *ngFor="let type of typeSelectedArray;let i = index">
          <ion-label>Type :
            {{'TYPES.' + type | translate | typeName | titlecase}}
            <ion-icon (click)="clearType(i)" name="close"></ion-icon>
          </ion-label>
        </ion-chip>
        <ion-chip *ngIf="isFilteredByLegendary">
          <ion-label>{{'LEGENDARY'| translate }}
            <ion-icon (click)="clearFilter('isFilteredByLegendary')" name="close"></ion-icon>
          </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider>
  </ion-item-divider>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let pokemon of pokemonArray" size="12" sizeMd="3">
        <ion-card
          (click)="goToDetails(pokemon.id)"
          [ngStyle]="{'border-image': pokemon.types.length == 1 ?
                  'linear-gradient(to right,'+ pokemon.color[0] + ',' + pokemon.color[0]+ ') 25'
                  : 'linear-gradient(to right,'+ pokemon.color[0] + ',' + pokemon.color[1]+ ') 25'
                  }"
        >
          <ion-card-header>
            <ion-img [alt]="pokemon.name" [src]="pokemon.img" class="icon"></ion-img>
            <ion-card-title>
              {{'NAMES.' + pokemon.name | translate}}
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
