<ion-header>
  <ion-toolbar>
    <ion-title [innerHTML]="'NAMES.' + pokemon.name | translate"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="previousPokemon()" *ngIf="pokemonId > 1">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-img (click)="playAudio()" [src]="pokemon.img" style="cursor: pointer"></ion-img>
        <ion-text>{{pokemon.description}}</ion-text>
        <br>
        <ion-text>Level :</ion-text>
        <ion-input (ionChange)="manageLevel($event)" max="100" min="1" type="number"></ion-input>
        <ion-button (click)="nextPokemon()" *ngIf="pokemon.evolutionLevel && level == pokemon.evolutionLevel">Evolve
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-list>
          <h1>Attacks: </h1>
          <ion-item *ngFor="let attacks of pokemon.attacks">
            <ion-label>
              {{attacks}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-button (click)="nextPokemon()" *ngIf="pokemonId < 151">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="goBackToPokedex()" size="large">Home</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
