<ng-container *ngIf="!currentUser.userName">
  <ion-row class="nav-link ion-align-items-end">
    <ion-icon name="person-outline"></ion-icon>
    <a (click)="handleNavigation('signin', true)">{{'SIGNIN' | translate}}
    </a>
  </ion-row>
  <ion-row class="nav-link ion-align-items-end">
    <ion-icon name="log-in-outline"></ion-icon>
    <a (click)="handleNavigation('login', true)">{{'LOGIN' | translate}}
    </a>
  </ion-row>
</ng-container>
<ng-container *ngIf="currentUser.userName">
  <ion-row class="nav-link ion-align-items-end">
    <a (click)="handleNavigation('account', true)">{{'ACCOUNT' | translate}}</a>
  </ion-row>
  <ion-row class="nav-link ion-align-items-end">
    <a (click)="logOut()">{{'LOGOUT' | translate}}</a>
  </ion-row>
</ng-container>
