@import '../../../theme/variables';

ion-nav-link {
  padding: 10px;
  margin: 2px 0;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: $hover-link;
    color: $black;
  }
}
