<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-title class="ion-text-center">
        #{{pokemon.id}} {{'NAMES.' + pokemon.name | translate}}
      </ion-title>
    </ion-row>
    <ion-row>
      <ion-col pushLg="4" sizeLg="10">
        <ion-img (click)="playAudio()" [alt]="pokemon.name" [src]="pokemon.img" id="img"></ion-img>
        <ion-row>
          <ion-text *ngIf="pokemon.types.length == 1">
            {{'NAMES.' + pokemon.name | translate}} {{'CARD_SUBJECT_ONE' | translate}}
            {{'TYPES.' + pokemon.types[0] | translate}}.
          </ion-text>
          <ion-text *ngIf="pokemon.types.length > 1">
            {{'NAMES.' + pokemon.name | translate}} {{'CARD_SUBJECT_TWO' | translate}} {{'TYPES.' + pokemon.types[0] | translate}}
            /{{'TYPES.' + pokemon.types[1] | translate}}.
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-col sizeLg="8">
            {{'DESC.' + pokemon.name | translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeLg="3">
            <ion-text>{{'WEIGHT' | translate}}: {{pokemon.weight}}</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>{{'HEIGHT' | translate}}: {{pokemon.height}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeLg="4">
            <ion-item>
              <ion-input (ionChange)="manageLevel($event)" label="{{'LEVEL' | translate}} :" max="100" min="1"
                         type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-button (click)="nextPokemon()" *ngIf="pokemon.evolutionLevel && level >= pokemon.evolutionLevel"
                      color="success">{{'EVOLVE' | translate}}
          </ion-button>
          <ion-button (click)="nextPokemon()" *ngIf="pokemon.exchange"
                      color="light">{{'EXCHANGE' | translate}}</ion-button>
          <div *ngFor="let stone of pokemon.stone">
            <ion-img (click)="useStone(stone)" [src]='stone' id="stone"></ion-img>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
