<div *ngIf="pager.pages && pager.pages.length" class="pagination">
  <ion-button color="light" [disabled]="pager.currentPage === 1" class="page-item first-item">
    <a (click)="setPage(1)" class="page-link">First</a>
  </ion-button>
  <ion-button color="light" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
    <a (click)="setPage(page)" class="page-link">{{page}}</a>
  </ion-button>
  <ion-button color="light" [disabled]="pager.currentPage === pager.totalPages" class="page-item last-item">
    <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
  </ion-button>
</div>
