<div *ngIf="pager.pages && pager.pages.length" class="pagination">
  <ion-button color="light" [disabled]="pager.currentPage === 1" class="page-item first-item"
              (click)="setPage(1)">{{'FIRST' | translate}}</ion-button>
  <ion-button (click)="setPage(page)" color="light" *ngFor="let page of pager.pages" class="page-item number-item">
    {{page}}
  </ion-button>
  <ion-button color="light" [disabled]="pager.currentPage === pager.totalPages" class="page-item last-item"
              (click)="setPage(pager.totalPages)">{{'LAST' | translate}}
  </ion-button>
</div>
